@using ProductCatalog.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}

<div class="row pt-3">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                The current link item
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var urun in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="holder.js/100px160" class="card-img-top" alt="@urun.Name">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/Home/Details/@urun.Id">@urun.Name</a>
                            </h5>
                            <p class="card-text">@urun.Description</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                $ @urun.Price
                            </small>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

